<!doctype html>
/[if lt IE 7 ] <html class="ie ie6" lang="<haml:loud> I18n.locale </haml:loud>">
/[if IE 7 ] <html class="ie ie7" lang="<haml:loud> I18n.locale </haml:loud>">
/[if IE 8 ] <html class="ie ie8" lang="<haml:loud> I18n.locale </haml:loud>">
/[if IE 9 ] <html class="ie ie9" lang="<haml:loud> I18n.locale </haml:loud>">
/ [if gt IE 9]><!
%html{:lang => I18n.locale}
  / <![endif]
  %head{"data-hook" => "inside_head"}
    = render :partial => 'spree/shared/head'
  %body{:class => body_class, "data-hook" => "body", :id => @body_id || 'default'}
    .container
      = render :partial => 'spree/shared/header'
      .row{"data-hook" => ""}
        = breadcrumbs(@taxon)
        = render :partial => 'spree/shared/sidebar' if content_for? :sidebar
        #content{:class => !content_for?(:sidebar) ? "col-sm-12" : "col-sm-8 col-md-9", "data-hook" => ""}
          = flash_messages
          = yield
        = yield :templates
    = render :partial => 'spree/shared/footer'
    = render :partial => 'spree/shared/google_analytics'
    :javascript
      Spree.api_key =  raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) ;