.row
  .col-sm-12
    %h1 Contact Us
    %hr

.row
  .col-sm-12
    .well
      .row
        .col-sm-3
          %p
            We are here when you need us. Please let us know how we can help.
        .col-sm-9
          = simple_form_for @message, html: {class: 'form-inline' } do |f|
            = f.input :name
            = f.input :email
            = f.input :message, input_html: {rows: 8}
            .row
              .col-sm-offset-2.col-sm-7
                = f.submit 'Send', disable_with: 'Sending', class: 'btn btn-primary'