.row
  .col-sm-12
    #small-navigation.visible-xs-block
      .row
        .col-xs-12.text-center
          = link_to image_tag('logo-small.jpg'), spree.root_path
      .row
        .col-xs-12.text-center
          #logo-title
            = link_to 'Pretty As A Picture Scarves', spree.root_path
      %nav.navbar.navbar-default{:role => "navigation"}
        .container-fluid
          .navbar-header
            %button.navbar-toggle{"data-target" => "#main-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .navbar-brand


          #main-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li= link_to "Home", spree.root_path
              %li= link_to "Products", spree.products_path
              %li= link_to "About Us", main_app.about_us_path
              %li= link_to "Contact Us", main_app.contact_path

    #large-navigation.hidden-xs
      .row
        .col-sm-2
          = link_to image_tag('logo.png'), spree.root_path
        .col-sm-6#logo-title
          Pretty As A Picture Scarves
        .col-sm-4#cart

      .row#main-navigation
        .col-sm-12
          %ul
            %li= link_to "Home", spree.root_path
            %li= link_to "Products", spree.products_path
            %li= link_to "About Us", main_app.about_us_path
            %li= link_to "Contact Us", main_app.contact_path



