!!!
%html
  %head
    %title ScarfShop
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .col-sm-12
          = render partial: 'spree/shared/header'
      .row
        .col-sm-12
          = yield


      .row
        .col-sm-12
          = render 'spree/shared/footer'
